<section>
  <div class="wrapper-order-info">
    <h1>Оплатить заказ вы можеете следующими способами:</h1>
    <h3>Курьеру наличными</h3>
    <p>Эта опция доступна для жителей Москвы. Разместите свой заказ, и на следующий день или через день курьер доставит
      покупку прямо к вашей двери. Получите товар и тут же расплатитесь наличными с курьером. Просто и надежно! Обращаем
      ваше внимание, что при выборе данного способа оплаты нужно будет оплатить не только стоимость покупки, но и услуги
      курьера (тарифы подробно описаны в разделе «Доставка»).
    </p>
    <h3>Банковской картой</h3>
    <p>Способ похож на предыдущий, но оплата производится с помощью банковской карты (принимаются VISA и MASTER CARD).
      Для осуществления данного способа оплаты необходимо использовать интернет-банк. Если Вы хотите использовать этот
      способ оплаты , то Вам необходимо указать это при формирование заказа.
    </p>
    <p>НЕ ОПЛАЧИВАЙТЕ ЗАКАЗ, ДО ПОДТВЕРЖДЕНИЯ ЗАКАЗА МЕНЕДЖЕРОМ!!!
      Номер карты для перевода: уточняйте у операторов!
    </p>
    <h3>Наличными в нашем офисе</h3>
    <p>Данный способ хорош тем, что позволяет вам самостоятельно выбрать удобное время для получения приобретенных
      товаров, а также избавляет от необходимости платить за доставку. Главное – заранее по телефону согласовать встречу
      с менеджером.
    </p>
    <h3>С помощью систем «Яндекс.Деньги» или «QIWI»</h3>
    <p>Оплатить заказ вы можете и воспользовавшись своим мобильным телефоном, компьютером или обратившись в ближайший
      салон связи «Евросеть». Система электронных платежей «Яндекс.Деньги» и «QIWI» является очень удобным и надежным
      способом перечисления стоимости заказа.
    </p>
    <p>НЕ ОПЛАЧИВАЙТЕ ЗАКАЗ, ДО ПОДТВЕРЖДЕНИЯ ЗАКАЗА МЕНЕДЖЕРОМ!!!</p>
    <p>Вот наши электронные платежные счета:
      <br>QIWI: +79037242855
      <br>Яндекс.Деньги: 410011413852193
    </p>
    <h3>Другие варианты</h3>
    <p>Мы практикуем гибкий подход к клиентам. В случае, если ни один из перечисленных способов оплаты вас не устраивает,
      свяжитесь с нами и мы постараемся найти наилучший вариант.
    </p>
  </div>
</section>
