.footer-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 3rem;
  justify-content: center;
  align-items: center;

  font-size: small;
  background-color: #21eb1b;
}

p {
  font-size: 0.625em;
}

span {
  margin: 1.25em;
}
