<footer>
  <div class="footer-wrapper">
    <span>Интернет-магазин зоотоваров "Кот и пес". г. Минск</span>
    <p>Данный сайт носит исключительно информационный характер и ни при каких обстоятельствах не является публичной
      офертой, определяемой положениями Статьи 437 Гражданского кодекса РБ. Точные данные о наличии, ценах и способах
      приобретения необходимо узнавать у менеджеров магазина по телефону, запросом по электронной почте, через форму
      обратной связи или при оформлении заказа. Представленная на сайте информация является объектами авторского права.
      Любое использование информации должно быть согласовано с администрацией данного интернет-магазина.
    </p>
  </div>
</footer>

