<div class="wrapper-delivery-info">
  <h1>Способы доставки</h1>
  <h2>Курьерская доставка по Минску</h2>
  <ul>
    <li>Доставка заказов осуществляется от 25 рублей.</li>
    <li>Доставка бесплатная.</li>
    <li>Доставка осуществляется в пределах г.Минска и близлежайших посёлках Минского района, в радиусе 10 км от МКАД.
      Подробную информацию о доставке в посёлки можно уточнить у оператора колл-центра по телефону 7255
      (МТС, ВЕЛКОМ, ЛАЙФ).
    </li>
    <li>Доставка осуществляется с понедельника по воскресенье с 10.00 до 23.00. Без выходных.</li>
    <li>Возможность выбора удобного для Вас 2-х часового интервала доставки.</li>
  </ul>
  <h2>Пункты самовывоза</h2>
  <span>Вы также можете самостоятельно забрать понравившийся товар в наших пунктах самовывоза, предварительно зарезервировав
  товар у менеджера по телефону или сделав заказ на сайте выбрав в меню "самовывоз". Забрать заказ вы можете в течении
  трех дней с момента его оформления, по истечении данного срока заказ будет расформирован. Сумма покупки - любая.
</span>
  <ul>
    <li>Минск-Фрунзенский, ул. Неманская, 67-7. Время работы: пн-сб: 8.00-20.00</li>
    <li>Минск-Советский, ул. Максима Богдановича, 133. Время работы: пн-сб: 8.00-20.00</li>
    <li>Минск-Московский, ул. Слободская, 27. Время работы: пн-сб: 8.00-20.00</li>
  </ul>
</div>
