.wrapper-delivery-info {
  margin: 1.8em 9.375em;
}

li {
  list-style: none;
  background: url("./../../../assets/img/foot-track.png") no-repeat 4px 31px;
  padding-left: 3.625em;
  padding-top: 2.25em;
  background-size: 1.25em;
  text-align: justify;
}

p {
  text-indent: 3.125em;
}
